In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv("data/real.csv",index_col=0)

In [13]:
df = df.iloc[0:,[0,1,2]]

In [15]:
df.head()

                     Store                        User  Rating
0  NAP's Coffee & Roasters                   Nuunet D.       5
1  NAP's Coffee & Roasters                   vanai sun       3
2  NAP's Coffee & Roasters              Phonanan Seeon       5
3  NAP's Coffee & Roasters  Chavakorn Laophetsakunchai       5
4  NAP's Coffee & Roasters               community man       5