In [11]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import pickle
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df = pd.read_csv("data/Form.csv")

# Prepare data

In [13]:
# remove data not use
df = df.iloc[0:,[1,2,3]]

In [14]:
# we use age , gender and trasactions Store
df.head(5)

   Age  Gender                                              Store
0   20    male  NAP's Coffee & Roasters, sangob, Nap x Warin, ...
1   16  female  BalconyKiss Coffee, ROOF COFFEE, LAVA  JAVA Co...
2   22    male    NAP's Coffee & Roasters, SongSarn, Yuanjai Cafe
3   21  female  NAP's Coffee & Roasters, Nap x Warin, Snoopcat...
4   19    male  NAP's Coffee & Roasters, sangob, Nap x Warin, ...

In [15]:
# create functions to split transactions data store

def set_transactions(x):
    x = x.split(",")
    return x

In [16]:
# map values with age gender and store to format functions asscoations rule
df["Store"]  = df["Store"].apply(lambda x:set_transactions(x))

In [17]:
# map Age 
df['Age'] = df["Age"].map(lambda x:'10-20' if x <= 20 else '21-40' if x <= 40 else '41-60' if x <= 60 else '60+')

In [18]:
df

      Age  Gender                                              Store
0   10-20    male  [NAP's Coffee & Roasters,  sangob,  Nap x Wari...
1   10-20  female  [BalconyKiss Coffee,  ROOF COFFEE,  LAVA  JAVA...
2   21-40    male  [NAP's Coffee & Roasters,  SongSarn,  Yuanjai ...
3   21-40  female  [NAP's Coffee & Roasters,  Nap x Warin,  Snoop...
4   10-20    male  [NAP's Coffee & Roasters,  sangob,  Nap x Wari...
..    ...     ...                                                ...
77  10-20  female            [NAP's Coffee & Roasters,  Nap x Warin]
78  21-40  female  [NAP's Coffee & Roasters,  sangob,  SongSarn, ...
79  21-40  female  [Nap x Warin,  ROOF COFFEE,  11.11 Gallery and...
80  41-60  female  [Nap x Warin,  ROOF COFFEE,  11.11 Gallery and...
81  21-40  female  [NAP's Coffee & Roasters,  sangob,  SongSarn, ...

[82 rows x 3 columns]

In [19]:
# map age gender to create Rule
age_groups = df.groupby('Age')
age_gender_rules = {}

In [24]:
# For Loop each group
for age_group, data in age_groups:
    for gender, gender_data in data.groupby('Gender'):
        # Use the TransactionEncoder to convert the data into a suitable format for the Apriori algorithm
        te = TransactionEncoder()
        te_ary = te.fit(gender_data['Store']).transform(gender_data['Store'])
        df_temp = pd.DataFrame(te_ary, columns=te.columns_)
        prinnt
        # Run the Apriori algorithm to find frequent item sets
        frequent_itemsets = apriori(df_temp, min_support=0.2, use_colnames=True)

        # Generate association rules from the frequent item sets
        rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)
        # Store the association rules for each age group and gender in the dictionary
        age_gender_rules[(age_group, gender)] = rules

[False False False False False False False  True  True False  True False
 False False  True False False False  True False False False False False]
[False  True False False False False False False False False  True False
 False False False  True  True False False False False  True False  True
 False False  True False]
[False False False False False False False False False False False False
 False False False  True False False False False False False False  True
 False False False False False False False False False False False False
  True False False False False]
[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False  True False False  True False False False False False False False
 False False  True False False False False]
[False  True  True False False  True False False False False False False
 False False False False False False False False  True]
[ True False  True  True  True False False False False  True]

In [10]:
age_gender_rules.keys()

dict_keys([('10-20', 'female'), ('10-20', 'male'), ('21-40', 'female')])

In [30]:
age_gender_rules

{('10-20',
  'female'):                                           antecedents  \
 0                                           ( Amarna)
 1                                 ( GODFATHER COFFEE)
 2                                           ( sangob)
 3                                       ( Bossa cafe)
 4                           (NAP's Coffee & Roasters)
 5                           ( MiND-K coffee and bake)
 6                       ( LAVA  JAVA Coffee Roasters)
 7                                (BalconyKiss Coffee)
 8                       ( LAVA  JAVA Coffee Roasters)
 9                                (BalconyKiss Coffee)
 10                          ( MiND-K coffee and bake)
 11                                          ( sangob)
 12                          (NAP's Coffee & Roasters)
 13                             ( sangob,  Bossa cafe)
 14                 ( sangob, NAP's Coffee & Roasters)
 15             ( Bossa cafe, NAP's Coffee & Roasters)
 16                                          ( sangob)
 17                          (NAP's Coffee & Roasters)
 18      (BalconyKiss Coffee,  MiND-K coffee and bake)
 19  ( LAVA  JAVA Coffee Roasters,  MiND-K coffee a...
 20  (BalconyKiss Coffee,  LAVA  JAVA Coffee Roasters)
 21                          ( MiND-K coffee and bake)
 22                               (BalconyKiss Coffee)
 23                      ( LAVA  JAVA Coffee Roasters)

                                           consequents  antecedent support  \
 0                                       ( Bossa cafe)                 0.2
 1                                       ( Bossa cafe)                 0.3
 2                                       ( Bossa cafe)                 0.2
 3                           (NAP's Coffee & Roasters)                 0.5
 4                                       ( Bossa cafe)                 0.4
 5                       ( LAVA  JAVA Coffee Roasters)                 0.2
 6                           ( MiND-K coffee and bake)                 0.3
 7                       ( LAVA  JAVA Coffee Roasters)                 0.2
 8                                (BalconyKiss Coffee)                 0.3
 9                           ( MiND-K coffee and bake)                 0.2
 10                               (BalconyKiss Coffee)                 0.2
 11                          (NAP's Coffee & Roasters)                 0.2
 12                                          ( sangob)                 0.4
 13                          (NAP's Coffee & Roasters)                 0.2
 14                                      ( Bossa cafe)                 0.2
 15                                          ( sangob)                 0.3
 16             ( Bossa cafe, NAP's Coffee & Roasters)                 0.2
 17                             ( sangob,  Bossa cafe)                 0.4
 18                      ( LAVA  JAVA Coffee Roasters)                 0.2
 19                               (BalconyKiss Coffee)                 0.2
 20                          ( MiND-K coffee and bake)                 0.2
 21  (BalconyKiss Coffee,  LAVA  JAVA Coffee Roasters)                 0.2
 22  ( LAVA  JAVA Coffee Roasters,  MiND-K coffee a...                 0.2
 23      (BalconyKiss Coffee,  MiND-K coffee and bake)                 0.3

     consequent support  support  confidence      lift  leverage  conviction
 0                  0.5      0.2    1.000000  2.000000      0.10         inf
 1                  0.5      0.2    0.666667  1.333333      0.05         1.5
 2                  0.5      0.2    1.000000  2.000000      0.10         inf
 3                  0.4      0.3    0.600000  1.500000      0.10         1.5
 4                  0.5      0.3    0.750000  1.500000      0.10         2.0
 5                  0.3      0.2    1.000000  3.333333      0.14         inf
 6                  0.2      0.2    0.666667  3.333333      0.14         2.4
 7                  0.3      0.2    1.000000  3.333333      0.14         inf
 8                  0.2      0.2    0.666667  3.333333      0.14         2.4
 9                  0.2      0.2    1.000000  5.000000      0.16         inf
 10                 0.2      0.2    1.000000  5.000000      0.16         inf
 11                 0.4      0.2    1.000000  2.500000      0.12         inf
 12                 0.2      0.2    0.500000  2.500000      0.12         1.6
 13                 0.4      0.2    1.000000  2.500000      0.12         inf
 14                 0.5      0.2    1.000000  2.000000      0.10         inf
 15                 0.2      0.2    0.666667  3.333333      0.14         2.4
 16                 0.3      0.2    1.000000  3.333333      0.14         inf
 17                 0.2      0.2    0.500000  2.500000      0.12         1.6
 18                 0.3      0.2    1.000000  3.333333      0.14         inf
 19                 0.2      0.2    1.000000  5.000000      0.16         inf
 20                 0.2      0.2    1.000000  5.000000      0.16         inf
 21                 0.2      0.2    1.000000  5.000000      0.16         inf
 22                 0.2      0.2    1.000000  5.000000      0.16         inf
 23                 0.2      0.2    0.666667  3.333333      0.14         2.4  ,
 ('10-20',
  'male'):                  antecedents                consequents  antecedent support  \
 0  (NAP's Coffee & Roasters)                  ( Amarna)            0.500000
 1                  ( Amarna)  (NAP's Coffee & Roasters)            0.333333
 2                  ( sangob)  (NAP's Coffee & Roasters)            0.250000
 3  (NAP's Coffee & Roasters)                  ( sangob)            0.500000

    consequent support  support  confidence  lift  leverage  conviction
 0            0.333333     0.25        0.50   1.5  0.083333    1.333333
 1            0.500000     0.25        0.75   1.5  0.083333    2.000000
 2            0.500000     0.25        1.00   2.0  0.125000         inf
 3            0.250000     0.25        0.50   2.0  0.125000    1.500000  ,
 ('21-40',
  'female'):       antecedents                consequents  antecedent support  \
 0   ( My Papilio)  (NAP's Coffee & Roasters)            0.291667
 1  ( Nap x Warin)  (NAP's Coffee & Roasters)            0.208333

    consequent support   support  confidence      lift  leverage  conviction
 0                 0.5  0.208333    0.714286  1.428571  0.062500        1.75
 1                 0.5  0.208333    1.000000  2.000000  0.104167         inf  ,
 ('21-40',
  'male'): Empty DataFrame
 Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
 Index: [],
 ('41-60',
  'female'):                         antecedents  \
 0                      ( Attaroast)
 1       ( 11.11 Gallery and Coffee)
 2       ( Commune Drink/Talk/Share)
 3       ( 11.11 Gallery and Coffee)
 4       ( 11.11 Gallery and Coffee)
 ...                             ...
 523475        ( Impression Sunrise)
 523476                ( Saereesook)
 523477                 ( REDCOFFEE)
 523478  ( 11.11 Gallery and Coffee)
 523479             ( Snoopcat Cafe)

                                               consequents  antecedent support  \
 0                             ( 11.11 Gallery and Coffee)            0.333333
 1                                            ( Attaroast)            0.333333
 2                             ( 11.11 Gallery and Coffee)            0.333333
 3                             ( Commune Drink/Talk/Share)            0.333333
 4                                   ( Impression Sunrise)            0.333333
 ...                                                   ...                 ...
 523475  ( PENSER CAFE,  Commune Drink/Talk/Share, Nap ...            0.333333
 523476  ( PENSER CAFE,  Commune Drink/Talk/Share, Nap ...            0.333333
 523477  ( PENSER CAFE,  Commune Drink/Talk/Share, Nap ...            0.333333
 523478  ( PENSER CAFE,  Commune Drink/Talk/Share, Nap ...            0.333333
 523479  ( PENSER CAFE,  Commune Drink/Talk/Share, Nap ...            0.333333

         consequent support   support  confidence  lift  leverage  conviction
 0                 0.333333  0.333333         1.0   3.0  0.222222         inf
 1                 0.333333  0.333333         1.0   3.0  0.222222         inf
 2                 0.333333  0.333333         1.0   3.0  0.222222         inf
 3                 0.333333  0.333333         1.0   3.0  0.222222         inf
 4                 0.333333  0.333333         1.0   3.0  0.222222         inf
 ...                    ...       ...         ...   ...       ...         ...
 523475            0.333333  0.333333         1.0   3.0  0.222222         inf
 523476            0.333333  0.333333         1.0   3.0  0.222222         inf
 523477            0.333333  0.333333         1.0   3.0  0.222222         inf
 523478            0.333333  0.333333         1.0   3.0  0.222222         inf
 523479            0.333333  0.333333         1.0   3.0  0.222222         inf

 [523480 rows x 9 columns],
 ('41-60',
  'male'):                    antecedents  \
 0               ( Nap x Warin)
 1                    ( Amarna)
 2            ( Phantae Coffee)
 3                    ( Amarna)
 4                 ( REDCOFFEE)
 ..                         ...
 777                  ( Amarna)
 778                  ( sangob)
 779  (NAP's Coffee & Roasters)
 780              ( Saereesook)
 781                ( SongSarn)

                                            consequents  antecedent support  \
 0                                            ( Amarna)                 0.5
 1                                       ( Nap x Warin)                 1.0
 2                                            ( Amarna)                 0.5
 3                                    ( Phantae Coffee)                 1.0
 4                                            ( Amarna)                 0.5
 ..                                                 ...                 ...
 777  ( Nap x Warin,  sangob, NAP's Coffee & Roaster...                 1.0
 778  ( Nap x Warin,  Amarna, NAP's Coffee & Roaster...                 0.5
 779  ( Nap x Warin,  Amarna,  sangob,  Saereesook, ...                 0.5
 780  ( Nap x Warin,  Amarna,  sangob, NAP's Coffee ...                 0.5
 781  ( Nap x Warin,  Amarna,  sangob, NAP's Coffee ...                 0.5

      consequent support  support  confidence  lift  leverage  conviction
 0                   1.0      0.5         1.0   1.0      0.00         inf
 1                   0.5      0.5         0.5   1.0      0.00         1.0
 2                   1.0      0.5         1.0   1.0      0.00         inf
 3                   0.5      0.5         0.5   1.0      0.00         1.0
 4                   1.0      0.5         1.0   1.0      0.00         inf
 ..                  ...      ...         ...   ...       ...         ...
 777                 0.5      0.5         0.5   1.0      0.00         1.0
 778                 0.5      0.5         1.0   2.0      0.25         inf
 779                 0.5      0.5         1.0   2.0      0.25         inf
 780                 0.5      0.5         1.0   2.0      0.25         inf
 781                 0.5      0.5         1.0   2.0      0.25         inf

 [782 rows x 9 columns]}

In [29]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,( Nap x Warin),( Amarna),0.5,1.0,0.5,1.0,1.0,0.00,inf
1,( Amarna),( Nap x Warin),1.0,0.5,0.5,0.5,1.0,0.00,1.0
2,( Phantae Coffee),( Amarna),0.5,1.0,0.5,1.0,1.0,0.00,inf
3,( Amarna),( Phantae Coffee),1.0,0.5,0.5,0.5,1.0,0.00,1.0
4,( REDCOFFEE),( Amarna),0.5,1.0,0.5,1.0,1.0,0.00,inf
...,...,...,...,...,...,...,...,...,...
777,( Amarna),"( Nap x Warin, sangob, NAP's Coffee & Roaster...",1.0,0.5,0.5,0.5,1.0,0.00,1.0
778,( sangob),"( Nap x Warin, Amarna, NAP's Coffee & Roaster...",0.5,0.5,0.5,1.0,2.0,0.25,inf
779,(NAP's Coffee & Roasters),"( Nap x Warin, Amarna, sangob, Saereesook, ...",0.5,0.5,0.5,1.0,2.0,0.25,inf
780,( Saereesook),"( Nap x Warin, Amarna, sangob, NAP's Coffee ...",0.5,0.5,0.5,1.0,2.0,0.25,inf
781,( SongSarn),"( Nap x Warin, Amarna, sangob, NAP's Coffee ...",0.5,0.5,0.5,1.0,2.0,0.25,inf