In [1]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import pickle
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("data/Form.csv")

# Prepare data

In [3]:
# remove data not use
df = df.iloc[0:,[1,2,3]]

In [4]:
# we use age , gender and trasactions Store
df.head(5)

   Age  Gender                                              Store
0   20    male  NAP's Coffee & Roasters, sangob, Nap x Warin, ...
1   16  female  BalconyKiss Coffee, ROOF COFFEE, LAVA  JAVA Co...
2   22    male    NAP's Coffee & Roasters, SongSarn, Yuanjai Cafe
3   21  female  NAP's Coffee & Roasters, Nap x Warin, Snoopcat...
4   19    male  NAP's Coffee & Roasters, sangob, Nap x Warin, ...

In [5]:
# create functions to split transactions data store

def set_transactions(x):
    x = x.split(",")
    return x

In [6]:
# map values with age gender and store to format functions asscoations rule
df["Store"]  = df["Store"].apply(lambda x:set_transactions(x))

In [7]:
# map Age 
df['Age'] = df["Age"].map(lambda x:'10-20' if x <= 20 else '21-40' if x <= 40 else '41-60' if x <= 60 else '60+')

In [8]:
df

      Age  Gender                                              Store
0   10-20    male  [NAP's Coffee & Roasters,  sangob,  Nap x Wari...
1   10-20  female  [BalconyKiss Coffee,  ROOF COFFEE,  LAVA  JAVA...
2   21-40    male  [NAP's Coffee & Roasters,  SongSarn,  Yuanjai ...
3   21-40  female  [NAP's Coffee & Roasters,  Nap x Warin,  Snoop...
4   10-20    male  [NAP's Coffee & Roasters,  sangob,  Nap x Wari...
..    ...     ...                                                ...
77  10-20  female            [NAP's Coffee & Roasters,  Nap x Warin]
78  21-40  female  [NAP's Coffee & Roasters,  sangob,  SongSarn, ...
79  21-40  female  [Nap x Warin,  ROOF COFFEE,  11.11 Gallery and...
80  41-60  female  [Nap x Warin,  ROOF COFFEE,  11.11 Gallery and...
81  21-40  female  [NAP's Coffee & Roasters,  sangob,  SongSarn, ...

[82 rows x 3 columns]

In [9]:
# map age gender to create Rule
age_groups = df.groupby('Age')
age_gender_rules = {}

In [26]:
# For Loop each group
for age_group, data in age_groups:
    for gender, gender_data in data.groupby('Gender'):
        # Use the TransactionEncoder to convert the data into a suitable format for the Apriori algorithm
        te = TransactionEncoder()
        te_ary = te.fit(gender_data['Store']).transform(gender_data['Store'])
        df_temp = pd.DataFrame(te_ary, columns=te.columns_)

        # Run the Apriori algorithm to find frequent item sets
        frequent_itemsets = apriori(df_temp, min_support=0.05, use_colnames=True)

        # Generate association rules from the frequent item sets
        rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)
        # Store the association rules for each age group and gender in the dictionary
        age_gender_rules[(age_group, gender)] = rules

In [27]:
age_gender_rules.keys()

dict_keys([('10-20', 'female'), ('10-20', 'male'), ('21-40', 'female'), ('21-40', 'male'), ('41-60', 'female'), ('41-60', 'male')])

In [28]:
age_gender_rules

{('10-20',
  'female'):                       antecedents  \
 0     ( 11.11 Gallery and Coffee)
 1       ( MiND-K coffee and bake)
 2     ( 11.11 Gallery and Coffee)
 3     ( 11.11 Gallery and Coffee)
 4                   ( My Papilio)
 ...                           ...
 2879         (BalconyKiss Coffee)
 2880             ( Snoopcat Cafe)
 2881  ( 11.11 Gallery and Coffee)
 2882                ( My Papilio)
 2883    ( MiND-K coffee and bake)

                                             consequents  antecedent support  \
 0                         ( LAVA  JAVA Coffee Roasters)                 0.1
 1                           ( 11.11 Gallery and Coffee)                 0.2
 2                             ( MiND-K coffee and bake)                 0.1
 3                                         ( My Papilio)                 0.1
 4                           ( 11.11 Gallery and Coffee)                 0.1
 ...                                                 ...                 ...
 2879  ( r o u n d,  LAVA  JAVA Coffee Roasters,  11....                 0.2
 2880  (BalconyKiss Coffee,  r o u n d,  LAVA  JAVA C...                 0.1
 2881  (BalconyKiss Coffee,  r o u n d,  LAVA  JAVA C...                 0.1
 2882  (BalconyKiss Coffee,  r o u n d,  LAVA  JAVA C...                 0.1
 2883  (BalconyKiss Coffee,  r o u n d,  LAVA  JAVA C...                 0.2

       consequent support  support  confidence       lift  leverage  conviction
 0                    0.3      0.1         1.0   3.333333      0.07         inf
 1                    0.1      0.1         0.5   5.000000      0.08         1.8
 2                    0.2      0.1         1.0   5.000000      0.08         inf
 3                    0.1      0.1         1.0  10.000000      0.09         inf
 4                    0.1      0.1         1.0  10.000000      0.09         inf
 ...                  ...      ...         ...        ...       ...         ...
 2879                 0.1      0.1         0.5   5.000000      0.08         1.8
 2880                 0.1      0.1         1.0  10.000000      0.09         inf
 2881                 0.1      0.1         1.0  10.000000      0.09         inf
 2882                 0.1      0.1         1.0  10.000000      0.09         inf
 2883                 0.1      0.1         0.5   5.000000      0.08         1.8

 [2884 rows x 9 columns],
 ('10-20',
  'male'):                                   antecedents  \
 0                 ( 11.11 Gallery and Coffee)
 1                                ( Attaroast)
 2               ( Blendstorm Coffee Roasters)
 3                 ( 11.11 Gallery and Coffee)
 4                 ( 11.11 Gallery and Coffee)
 ...                                       ...
 2363  ( Nap x Warin, NAP's Coffee & Roasters)
 2364                        ( Rogue Roasters)
 2365                            ( Saereesook)
 2366                          ( Yuanjai Cafe)
 2367                           ( Nap x Warin)

                                             consequents  antecedent support  \
 0                                          ( Attaroast)            0.083333
 1                           ( 11.11 Gallery and Coffee)            0.166667
 2                           ( 11.11 Gallery and Coffee)            0.166667
 3                         ( Blendstorm Coffee Roasters)            0.083333
 4                             (NAP's Coffee & Roasters)            0.083333
 ...                                                 ...                 ...
 2363  ( Rogue Roasters,  Saereesook,  Amarna,  Yuanj...            0.166667
 2364  ( Saereesook,  Amarna,  Yuanjai Cafe,  sangob,...            0.166667
 2365  ( Rogue Roasters,  Amarna,  Yuanjai Cafe,  san...            0.166667
 2366  ( Rogue Roasters,  Saereesook,  Amarna,  sango...            0.166667
 2367  ( Rogue Roasters,  Saereesook,  Amarna,  Yuanj...            0.166667

       consequent support   support  confidence  lift  leverage  conviction
 0               0.166667  0.083333         1.0   6.0  0.069444         inf
 1               0.083333  0.083333         0.5   6.0  0.069444    1.833333
 2               0.083333  0.083333         0.5   6.0  0.069444    1.833333
 3               0.166667  0.083333         1.0   6.0  0.069444         inf
 4               0.500000  0.083333         1.0   2.0  0.041667         inf
 ...                  ...       ...         ...   ...       ...         ...
 2363            0.083333  0.083333         0.5   6.0  0.069444    1.833333
 2364            0.083333  0.083333         0.5   6.0  0.069444    1.833333
 2365            0.083333  0.083333         0.5   6.0  0.069444    1.833333
 2366            0.083333  0.083333         0.5   6.0  0.069444    1.833333
 2367            0.083333  0.083333         0.5   6.0  0.069444    1.833333

 [2368 rows x 9 columns],
 ('21-40',
  'female'):                             antecedents  \
 0                          ( ROSIEHOLM)
 1           ( 11.11 Gallery and Coffee)
 2         ( LAVA  JAVA Coffee Roasters)
 3                             ( Amarna)
 4                        ( ROOF COFFEE)
 ..                                  ...
 541  ( sangob, NAP's Coffee & Roasters)
 542             ( sangob,  Nap x Warin)
 543                       ( Saereesook)
 544                     ( Yuanjai Cafe)
 545                           ( sangob)

                                            consequents  antecedent support  \
 0                          ( 11.11 Gallery and Coffee)            0.125000
 1                                         ( ROSIEHOLM)            0.083333
 2                                            ( Amarna)            0.125000
 3                        ( LAVA  JAVA Coffee Roasters)            0.125000
 4                                            ( Amarna)            0.083333
 ..                                                 ...                 ...
 541  ( SongSarn,  Saereesook,  Nap x Warin,  Yuanja...            0.166667
 542  ( SongSarn,  Saereesook, NAP's Coffee & Roaste...            0.125000
 543  ( Yuanjai Cafe,  SongSarn,  sangob, NAP's Coff...            0.083333
 544  ( Saereesook,  SongSarn,  sangob, NAP's Coffee...            0.166667
 545  ( Saereesook,  Yuanjai Cafe,  SongSarn, NAP's ...            0.166667

      consequent support   support  confidence       lift  leverage  conviction
 0              0.083333  0.083333    0.666667   8.000000  0.072917    2.750000
 1              0.125000  0.083333    1.000000   8.000000  0.072917         inf
 2              0.125000  0.083333    0.666667   5.333333  0.067708    2.625000
 3              0.125000  0.083333    0.666667   5.333333  0.067708    2.625000
 4              0.125000  0.083333    1.000000   8.000000  0.072917         inf
 ..                  ...       ...         ...        ...       ...         ...
 541            0.083333  0.083333    0.500000   6.000000  0.069444    1.833333
 542            0.083333  0.083333    0.666667   8.000000  0.072917    2.750000
 543            0.083333  0.083333    1.000000  12.000000  0.076389         inf
 544            0.083333  0.083333    0.500000   6.000000  0.069444    1.833333
 545            0.083333  0.083333    0.500000   6.000000  0.069444    1.833333

 [546 rows x 9 columns],
 ('21-40',
  'male'):                                         antecedents  \
 0                       ( 11.11 Gallery and Coffee)
 1                       ( 11.11 Gallery and Coffee)
 2                                     ( Saereesook)
 3                                   (LIFE Roasters)
 4                                          (sangob)
 ..                                              ...
 144        (NAP's Coffee & Roasters,  Yuanjai Cafe)
 145              ( BalconyKiss Coffee,  My Papilio)
 146          (NAP's Coffee & Roasters,  My Papilio)
 147  ( BalconyKiss Coffee, NAP's Coffee & Roasters)
 148                           ( BalconyKiss Coffee)

                                            consequents  antecedent support  \
 0                                            ( Amarna)            0.096774
 1                                ( Tree Cafe Rim Moon)            0.096774
 2                              ( Abe Specialty Coffee)            0.129032
 3                              ( Abe Specialty Coffee)            0.161290
 4                              ( Abe Specialty Coffee)            0.096774
 ..                                                 ...                 ...
 144                 ( BalconyKiss Coffee,  My Papilio)            0.096774
 145           (NAP's Coffee & Roasters,  Yuanjai Cafe)            0.064516
 146               ( BalconyKiss Coffee,  Yuanjai Cafe)            0.129032
 147                       ( My Papilio,  Yuanjai Cafe)            0.064516
 148  (NAP's Coffee & Roasters,  My Papilio,  Yuanja...            0.096774

      consequent support   support  confidence       lift  leverage  conviction
 0              0.225806  0.064516    0.666667   2.952381  0.042664    2.322581
 1              0.225806  0.064516    0.666667   2.952381  0.042664    2.322581
 2              0.225806  0.064516    0.500000   2.214286  0.035380    1.548387
 3              0.225806  0.096774    0.600000   2.657143  0.060354    1.935484
 4              0.225806  0.064516    0.666667   2.952381  0.042664    2.322581
 ..                  ...       ...         ...        ...       ...         ...
 144            0.064516  0.064516    0.666667  10.333333  0.058273    2.806452
 145            0.096774  0.064516    1.000000  10.333333  0.058273         inf
 146            0.064516  0.064516    0.500000   7.750000  0.056191    1.870968
 147            0.096774  0.064516    1.000000  10.333333  0.058273         inf
 148            0.064516  0.064516    0.666667  10.333333  0.058273    2.806452

 [149 rows x 9 columns],
 ('41-60',
  'female'):                         antecedents  \
 0       ( 11.11 Gallery and Coffee)
 1                      ( Attaroast)
 2       ( 11.11 Gallery and Coffee)
 3       ( Commune Drink/Talk/Share)
 4       ( 11.11 Gallery and Coffee)
 ...                             ...
 523475  ( 11.11 Gallery and Coffee)
 523476        ( Impression Sunrise)
 523477                 ( Attaroast)
 523478             ( Snoopcat Cafe)
 523479  ( Commune Drink/Talk/Share)

                                               consequents  antecedent support  \
 0                                            ( Attaroast)            0.333333
 1                             ( 11.11 Gallery and Coffee)            0.333333
 2                             ( Commune Drink/Talk/Share)            0.333333
 3                             ( 11.11 Gallery and Coffee)            0.333333
 4                                   ( Impression Sunrise)            0.333333
 ...                                                   ...                 ...
 523475  ( Saereesook,  Yuanjai Cafe,  PENSER CAFE, Nap...            0.333333
 523476  ( Saereesook,  Yuanjai Cafe,  PENSER CAFE, Nap...            0.333333
 523477  ( Saereesook,  Yuanjai Cafe,  PENSER CAFE, Nap...            0.333333
 523478  ( Saereesook,  Yuanjai Cafe,  PENSER CAFE, Nap...            0.333333
 523479  ( Saereesook,  Yuanjai Cafe,  PENSER CAFE, Nap...            0.333333

         consequent support   support  confidence  lift  leverage  conviction
 0                 0.333333  0.333333         1.0   3.0  0.222222         inf
 1                 0.333333  0.333333         1.0   3.0  0.222222         inf
 2                 0.333333  0.333333         1.0   3.0  0.222222         inf
 3                 0.333333  0.333333         1.0   3.0  0.222222         inf
 4                 0.333333  0.333333         1.0   3.0  0.222222         inf
 ...                    ...       ...         ...   ...       ...         ...
 523475            0.333333  0.333333         1.0   3.0  0.222222         inf
 523476            0.333333  0.333333         1.0   3.0  0.222222         inf
 523477            0.333333  0.333333         1.0   3.0  0.222222         inf
 523478            0.333333  0.333333         1.0   3.0  0.222222         inf
 523479            0.333333  0.333333         1.0   3.0  0.222222         inf

 [523480 rows x 9 columns],
 ('41-60',
  'male'):                    antecedents  \
 0                    ( Amarna)
 1               ( Nap x Warin)
 2            ( Phantae Coffee)
 3                    ( Amarna)
 4                    ( Amarna)
 ..                         ...
 777                  ( Amarna)
 778                ( SongSarn)
 779                  ( sangob)
 780  (NAP's Coffee & Roasters)
 781             ( Nap x Warin)

                                            consequents  antecedent support  \
 0                                       ( Nap x Warin)                 1.0
 1                                            ( Amarna)                 0.5
 2                                            ( Amarna)                 0.5
 3                                    ( Phantae Coffee)                 1.0
 4                                         ( REDCOFFEE)                 1.0
 ..                                                 ...                 ...
 777  ( Saereesook,  SongSarn,  sangob, NAP's Coffee...                 1.0
 778  ( Saereesook,  Amarna,  sangob, NAP's Coffee &...                 0.5
 779  ( Saereesook,  Amarna,  SongSarn, NAP's Coffee...                 0.5
 780  ( Saereesook,  Amarna,  SongSarn,  sangob,  Na...                 0.5
 781  ( Saereesook,  Amarna,  SongSarn,  sangob, NAP...                 0.5

      consequent support  support  confidence  lift  leverage  conviction
 0                   0.5      0.5         0.5   1.0      0.00         1.0
 1                   1.0      0.5         1.0   1.0      0.00         inf
 2                   1.0      0.5         1.0   1.0      0.00         inf
 3                   0.5      0.5         0.5   1.0      0.00         1.0
 4                   0.5      0.5         0.5   1.0      0.00         1.0
 ..                  ...      ...         ...   ...       ...         ...
 777                 0.5      0.5         0.5   1.0      0.00         1.0
 778                 0.5      0.5         1.0   2.0      0.25         inf
 779                 0.5      0.5         1.0   2.0      0.25         inf
 780                 0.5      0.5         1.0   2.0      0.25         inf
 781                 0.5      0.5         1.0   2.0      0.25         inf

 [782 rows x 9 columns]}

In [29]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,( Amarna),( Nap x Warin),1.0,0.5,0.5,0.5,1.0,0.00,1.0
1,( Nap x Warin),( Amarna),0.5,1.0,0.5,1.0,1.0,0.00,inf
2,( Phantae Coffee),( Amarna),0.5,1.0,0.5,1.0,1.0,0.00,inf
3,( Amarna),( Phantae Coffee),1.0,0.5,0.5,0.5,1.0,0.00,1.0
4,( Amarna),( REDCOFFEE),1.0,0.5,0.5,0.5,1.0,0.00,1.0
...,...,...,...,...,...,...,...,...,...
777,( Amarna),"( Saereesook, SongSarn, sangob, NAP's Coffee...",1.0,0.5,0.5,0.5,1.0,0.00,1.0
778,( SongSarn),"( Saereesook, Amarna, sangob, NAP's Coffee &...",0.5,0.5,0.5,1.0,2.0,0.25,inf
779,( sangob),"( Saereesook, Amarna, SongSarn, NAP's Coffee...",0.5,0.5,0.5,1.0,2.0,0.25,inf
780,(NAP's Coffee & Roasters),"( Saereesook, Amarna, SongSarn, sangob, Na...",0.5,0.5,0.5,1.0,2.0,0.25,inf
781,( Nap x Warin),"( Saereesook, Amarna, SongSarn, sangob, NAP...",0.5,0.5,0.5,1.0,2.0,0.25,inf