In [1]:
# setup db
from pymongo import MongoClient
import pandas  as pd
import numpy as np

In [11]:
data = pd.read_csv("data/Form.csv")

In [12]:
df = data.iloc[0:,[1,2,3]]

In [25]:
client = MongoClient("localhost",
                     port=27018,
                     username='root',
                     password='example',
                     authSource='admin')

In [26]:
db = client['Infomations']

In [27]:
collections = db['User']

In [221]:
pipeline = [
        {
          '$lookup':
             {
               'from': "Transactions",
               'localField': "uid",
               'foreignField': "uid",
               'as': "combined_documents"
             }
        },
        {
            '$match': { 'combined_documents.event': "like" }
        }
]

In [7]:
pipeline = [
    {
        '$lookup': {
            'from': "Transactions",
            'localField': "uid",
            'foreignField': "uid",
            'as': "combined_documents"
        }
    },
    {
        '$match': { 'combined_documents.event': "view" }
    },
    {
        '$unwind': "$combined_documents"
    },
    {
        '$match': { 'combined_documents.event': "view" }
    },
    {
        '$group': {
            '_id': "$_id",
            'name': { '$first': "$name" },
            'gender': { '$first': "$gender" },
            'age': { '$first': "$age" },
            'content_list': {
                '$push': "$combined_documents.Content"
            }
        }
    }
]

In [28]:
pipeline = [
    {
        '$lookup': {
            'from': "Transactions",
            'localField': "uid",
            'foreignField': "uid",
            'as': "combined_documents"
        }
    },
    {
        '$match': { 'combined_documents.event': "view" }
    },
    {
        '$unwind': "$combined_documents"
    },
    {
        '$match': { 'combined_documents.event': "view" }
    },
    {
        '$group': {
            '_id': "$_id",
            'name': { '$first': "$name" },
            'Gender': { '$first': "$gender" },
            'Age': { '$first': "$age" },
            'Store': {
                '$addToSet': "$combined_documents.Content"
            }
        }
    }
]

In [33]:
cl = list(collections.aggregate(pipeline))

In [30]:
from pprint import pprint

In [34]:
for x in cl:

    pprint([doc['event'] for doc in x['combined_documents']])
    pprint([doc['Content'] for doc in x['combined_documents']])
    pprint(x['name'])
    pprint(x['gender'])
    pprint(x['age'])


    print('')
        # print(x['combined_documents'][0]['event'])
        # print(x['combined_documents'][0]['Content'])

KeyError: 'combined_documents'

In [32]:
import json

In [36]:
for x in cl:
    pprint(x)

{'Age': 21,
 'Gender': 'Male',
 'Store': ['Nap x Warin'],
 '_id': ObjectId('63d6163840d228b1ae426045'),
 'name': 'notechu'}
{'Age': 21,
 'Gender': 'Male',
 'Store': ['Nap x Warin', "NAP's Coffee & Roasters"],
 '_id': ObjectId('63d3d51eb0cd665042d3f8e0'),
 'name': 'tong1'}

In [37]:
for x in cl:
    print(x)

{'_id': ObjectId('63d6163840d228b1ae426045'), 'name': 'notechu', 'Gender': 'Male', 'Age': 21, 'Store': ['Nap x Warin']}
{'_id': ObjectId('63d3d51eb0cd665042d3f8e0'), 'name': 'tong1', 'Gender': 'Male', 'Age': 21, 'Store': ['Nap x Warin', "NAP's Coffee & Roasters"]}

In [38]:
df1 = pd.DataFrame(cl)

In [39]:
df1 = df1.iloc[0:,[3,2,4]]

In [40]:
df1

   Age Gender                                   Store
0   21   Male                           [Nap x Warin]
1   21   Male  [Nap x Warin, NAP's Coffee & Roasters]

In [41]:
df.append(df1,ignore_index=True)

/var/folders/1m/8gfpxg2n77394ts5lp76hnw40000gn/T/ipykernel_41124/2746747452.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(df1,ignore_index=True)

    Age  Gender                                              Store
0    20    male  NAP's Coffee & Roasters, sangob, Nap x Warin, ...
1    16  female  BalconyKiss Coffee, ROOF COFFEE, LAVA  JAVA Co...
2    22    male    NAP's Coffee & Roasters, SongSarn, Yuanjai Cafe
3    21  female  NAP's Coffee & Roasters, Nap x Warin, Snoopcat...
4    19    male  NAP's Coffee & Roasters, sangob, Nap x Warin, ...
..  ...     ...                                                ...
79   28  female  Nap x Warin, ROOF COFFEE, 11.11 Gallery and Co...
80   42  female  Nap x Warin, ROOF COFFEE, 11.11 Gallery and Co...
81   25  female  NAP's Coffee & Roasters, sangob, SongSarn, Nap...
82   21    Male                                      [Nap x Warin]
83   21    Male             [Nap x Warin, NAP's Coffee & Roasters]

[84 rows x 3 columns]

# raw data

In [42]:
df

    Age  Gender                                              Store
0    20    male  NAP's Coffee & Roasters, sangob, Nap x Warin, ...
1    16  female  BalconyKiss Coffee, ROOF COFFEE, LAVA  JAVA Co...
2    22    male    NAP's Coffee & Roasters, SongSarn, Yuanjai Cafe
3    21  female  NAP's Coffee & Roasters, Nap x Warin, Snoopcat...
4    19    male  NAP's Coffee & Roasters, sangob, Nap x Warin, ...
..  ...     ...                                                ...
77   19  female               NAP's Coffee & Roasters, Nap x Warin
78   21  female  NAP's Coffee & Roasters, sangob, SongSarn, LIF...
79   28  female  Nap x Warin, ROOF COFFEE, 11.11 Gallery and Co...
80   42  female  Nap x Warin, ROOF COFFEE, 11.11 Gallery and Co...
81   25  female  NAP's Coffee & Roasters, sangob, SongSarn, Nap...

[82 rows x 3 columns]

# setup data to list

In [316]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\note\miniconda3\lib\site-packages (0.21.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\note\miniconda3\lib\site-packages (from mlxtend) (1.24.2)
Requirement already satisfied: setuptools in c:\users\note\miniconda3\lib\site-packages (from mlxtend) (65.6.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\note\miniconda3\lib\site-packages (from mlxtend) (1.5.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\note\miniconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\note\miniconda3\lib\site-packages (from mlxtend) (1.2.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\note\miniconda3\lib\site-packages (from mlxtend) (3.6.3)
Requirement already satisfied: scipy>=1.2.1 in c:\users\note\miniconda3\lib\site-packages (from mlxtend) (1.10.0)
Requirement already satisfied: packaging>=20.0 in c:\users\note\miniconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\note\miniconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\note\miniconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\note\miniconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\note\miniconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\note\miniconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\note\miniconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.38.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\note\miniconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\note\miniconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\note\miniconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)
Requirement already satisfied: six>=1.5 in c:\users\note\miniconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [43]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import pickle

In [44]:
from pprint import pprint

In [45]:
data = pd.read_csv("data/Form.csv")
df = data.iloc[0:,[1,2,3]]
df

    Age  Gender                                              Store
0    20    male  NAP's Coffee & Roasters, sangob, Nap x Warin, ...
1    16  female  BalconyKiss Coffee, ROOF COFFEE, LAVA  JAVA Co...
2    22    male    NAP's Coffee & Roasters, SongSarn, Yuanjai Cafe
3    21  female  NAP's Coffee & Roasters, Nap x Warin, Snoopcat...
4    19    male  NAP's Coffee & Roasters, sangob, Nap x Warin, ...
..  ...     ...                                                ...
77   19  female               NAP's Coffee & Roasters, Nap x Warin
78   21  female  NAP's Coffee & Roasters, sangob, SongSarn, LIF...
79   28  female  Nap x Warin, ROOF COFFEE, 11.11 Gallery and Co...
80   42  female  Nap x Warin, ROOF COFFEE, 11.11 Gallery and Co...
81   25  female  NAP's Coffee & Roasters, sangob, SongSarn, Nap...

[82 rows x 3 columns]

In [46]:
df['Store'] = df['Store'].apply(lambda x: x.split(","))

In [48]:
# ADD USER TO RETRAIN
pipeline = [
    {
        '$lookup': {
            'from': "Transactions",
            'localField': "uid",
            'foreignField': "uid",
            'as': "combined_documents"
        }
    },
    {
        '$match': { 'combined_documents.event': "view" }
    },
    {
        '$unwind': "$combined_documents"
    },
    {
        '$match': { 'combined_documents.event': "view" }
    },
    {
        '$group': {
            '_id': "$_id",
            'name': { '$first': "$name" },
            'Gender': { '$first': "$gender" },
            'Age': { '$first': "$age" },
            'Store': {
                '$addToSet': "$combined_documents.Content"
            }
        }
    }
]

In [49]:
cl = list(collections.aggregate(pipeline))

In [53]:
df1 = pd.DataFrame(cl)
df1 = df1.iloc[0:,[3,2,4]]
df1["Gender"] = df1["Gender"].apply(lambda x:x.lower())

In [55]:
df1

   Age Gender                                   Store
0   21   male                           [Nap x Warin]
1   21   male  [Nap x Warin, NAP's Coffee & Roasters]

In [56]:
## DATA
df = df.append(df1,ignore_index=True)

/var/folders/1m/8gfpxg2n77394ts5lp76hnw40000gn/T/ipykernel_41124/1881829475.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df1,ignore_index=True)

In [57]:
df

    Age  Gender                                              Store
0    20    male  [NAP's Coffee & Roasters,  sangob,  Nap x Wari...
1    16  female  [BalconyKiss Coffee,  ROOF COFFEE,  LAVA  JAVA...
2    22    male  [NAP's Coffee & Roasters,  SongSarn,  Yuanjai ...
3    21  female  [NAP's Coffee & Roasters,  Nap x Warin,  Snoop...
4    19    male  [NAP's Coffee & Roasters,  sangob,  Nap x Wari...
..  ...     ...                                                ...
79   28  female  [Nap x Warin,  ROOF COFFEE,  11.11 Gallery and...
80   42  female  [Nap x Warin,  ROOF COFFEE,  11.11 Gallery and...
81   25  female  [NAP's Coffee & Roasters,  sangob,  SongSarn, ...
82   21    male                                      [Nap x Warin]
83   21    male             [Nap x Warin, NAP's Coffee & Roasters]

[84 rows x 3 columns]

In [58]:
df1

   Age Gender                                   Store
0   21   male                           [Nap x Warin]
1   21   male  [Nap x Warin, NAP's Coffee & Roasters]

In [59]:
# setup age
df['age_group'] = df['Age'].apply(lambda x: '10-20' if x <= 20 else '21-40' if x <= 40 else '41-60' if x <= 60 else '60+')

In [60]:
df

    Age  Gender                                              Store age_group
0    20    male  [NAP's Coffee & Roasters,  sangob,  Nap x Wari...     10-20
1    16  female  [BalconyKiss Coffee,  ROOF COFFEE,  LAVA  JAVA...     10-20
2    22    male  [NAP's Coffee & Roasters,  SongSarn,  Yuanjai ...     21-40
3    21  female  [NAP's Coffee & Roasters,  Nap x Warin,  Snoop...     21-40
4    19    male  [NAP's Coffee & Roasters,  sangob,  Nap x Wari...     10-20
..  ...     ...                                                ...       ...
79   28  female  [Nap x Warin,  ROOF COFFEE,  11.11 Gallery and...     21-40
80   42  female  [Nap x Warin,  ROOF COFFEE,  11.11 Gallery and...     41-60
81   25  female  [NAP's Coffee & Roasters,  sangob,  SongSarn, ...     21-40
82   21    male                                      [Nap x Warin]     21-40
83   21    male             [Nap x Warin, NAP's Coffee & Roasters]     21-40

[84 rows x 4 columns]

In [73]:
age_groups = df.groupby('age_group')
age_gender_rules = {}

# Run the Apriori algorithm and generate association rules for each age group and gender
for age_group, data in age_groups:
    for gender, gender_data in data.groupby('Gender'):
        # Use the TransactionEncoder to convert the data into a suitable format for the Apriori algorithm
        te = TransactionEncoder()
        te_ary = te.fit(gender_data['Store']).transform(gender_data['Store'])
        df_temp = pd.DataFrame(te_ary, columns=te.columns_)

        # Run the Apriori algorithm to find frequent item sets
        frequent_itemsets = apriori(df_temp, min_support=0.20, use_colnames=True)

        # Generate association rules from the frequent item sets
        rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=1)
        # Store the association rules for each age group and gender in the dictionary
        age_gender_rules[(age_group, gender)] = rules

# with open('age_gender_rules1.pkl', 'wb') as f:
#     pickle.dump(age_gender_rules, f)

In [74]:
age_gender_rules

{('10-20',
  'female'):                                           antecedents  \
 0                                           ( Amarna)
 1                                           ( sangob)
 2                           ( MiND-K coffee and bake)
 3                                (BalconyKiss Coffee)
 4                           ( MiND-K coffee and bake)
 5                                (BalconyKiss Coffee)
 6                                           ( sangob)
 7                              ( Bossa cafe,  sangob)
 8                  (NAP's Coffee & Roasters,  sangob)
 9                                           ( sangob)
 10  ( LAVA  JAVA Coffee Roasters,  MiND-K coffee a...
 11  ( LAVA  JAVA Coffee Roasters, BalconyKiss Coffee)
 12      ( MiND-K coffee and bake, BalconyKiss Coffee)
 13                          ( MiND-K coffee and bake)
 14                               (BalconyKiss Coffee)

                                           consequents  antecedent support  \
 0                                       ( Bossa cafe)                 0.2
 1                                       ( Bossa cafe)                 0.2
 2                       ( LAVA  JAVA Coffee Roasters)                 0.2
 3                       ( LAVA  JAVA Coffee Roasters)                 0.2
 4                                (BalconyKiss Coffee)                 0.2
 5                           ( MiND-K coffee and bake)                 0.2
 6                           (NAP's Coffee & Roasters)                 0.2
 7                           (NAP's Coffee & Roasters)                 0.2
 8                                       ( Bossa cafe)                 0.2
 9              (NAP's Coffee & Roasters,  Bossa cafe)                 0.2
 10                               (BalconyKiss Coffee)                 0.2
 11                          ( MiND-K coffee and bake)                 0.2
 12                      ( LAVA  JAVA Coffee Roasters)                 0.2
 13  ( LAVA  JAVA Coffee Roasters, BalconyKiss Coffee)                 0.2
 14  ( LAVA  JAVA Coffee Roasters,  MiND-K coffee a...                 0.2

     consequent support  support  confidence      lift  leverage  conviction
 0                  0.5      0.2         1.0  2.000000      0.10         inf
 1                  0.5      0.2         1.0  2.000000      0.10         inf
 2                  0.3      0.2         1.0  3.333333      0.14         inf
 3                  0.3      0.2         1.0  3.333333      0.14         inf
 4                  0.2      0.2         1.0  5.000000      0.16         inf
 5                  0.2      0.2         1.0  5.000000      0.16         inf
 6                  0.4      0.2         1.0  2.500000      0.12         inf
 7                  0.4      0.2         1.0  2.500000      0.12         inf
 8                  0.5      0.2         1.0  2.000000      0.10         inf
 9                  0.3      0.2         1.0  3.333333      0.14         inf
 10                 0.2      0.2         1.0  5.000000      0.16         inf
 11                 0.2      0.2         1.0  5.000000      0.16         inf
 12                 0.3      0.2         1.0  3.333333      0.14         inf
 13                 0.2      0.2         1.0  5.000000      0.16         inf
 14                 0.2      0.2         1.0  5.000000      0.16         inf  ,
 ('10-20',
  'male'):   antecedents                consequents  antecedent support  \
 0   ( sangob)  (NAP's Coffee & Roasters)                0.25

    consequent support  support  confidence  lift  leverage  conviction
 0                 0.5     0.25         1.0   2.0     0.125         inf  ,
 ('21-40',
  'female'):       antecedents                consequents  antecedent support  \
 0  ( Nap x Warin)  (NAP's Coffee & Roasters)            0.208333

    consequent support   support  confidence  lift  leverage  conviction
 0                 0.5  0.208333         1.0   2.0  0.104167         inf  ,
 ('21-40',
  'male'): Empty DataFrame
 Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
 Index: [],
 ('41-60',
  'female'):                         antecedents  \
 0       ( 11.11 Gallery and Coffee)
 1                      ( Attaroast)
 2       ( Commune Drink/Talk/Share)
 3       ( 11.11 Gallery and Coffee)
 4             ( Impression Sunrise)
 ...                             ...
 523475               ( PENSER CAFE)
 523476              ( Yuanjai Cafe)
 523477             ( Snoopcat Cafe)
 523478              ( Stufe coffee)
 523479                 ( REDCOFFEE)

                                               consequents  antecedent support  \
 0                                            ( Attaroast)            0.333333
 1                             ( 11.11 Gallery and Coffee)            0.333333
 2                             ( 11.11 Gallery and Coffee)            0.333333
 3                             ( Commune Drink/Talk/Share)            0.333333
 4                             ( 11.11 Gallery and Coffee)            0.333333
 ...                                                   ...                 ...
 523475  ( Commune Drink/Talk/Share,  Saereesook,  11.1...            0.333333
 523476  ( Commune Drink/Talk/Share,  Saereesook,  11.1...            0.333333
 523477  ( Commune Drink/Talk/Share,  Saereesook,  11.1...            0.333333
 523478  ( Commune Drink/Talk/Share,  Saereesook,  11.1...            0.333333
 523479  ( Commune Drink/Talk/Share,  Saereesook,  11.1...            0.333333

         consequent support   support  confidence  lift  leverage  conviction
 0                 0.333333  0.333333         1.0   3.0  0.222222         inf
 1                 0.333333  0.333333         1.0   3.0  0.222222         inf
 2                 0.333333  0.333333         1.0   3.0  0.222222         inf
 3                 0.333333  0.333333         1.0   3.0  0.222222         inf
 4                 0.333333  0.333333         1.0   3.0  0.222222         inf
 ...                    ...       ...         ...   ...       ...         ...
 523475            0.333333  0.333333         1.0   3.0  0.222222         inf
 523476            0.333333  0.333333         1.0   3.0  0.222222         inf
 523477            0.333333  0.333333         1.0   3.0  0.222222         inf
 523478            0.333333  0.333333         1.0   3.0  0.222222         inf
 523479            0.333333  0.333333         1.0   3.0  0.222222         inf

 [523480 rows x 9 columns],
 ('41-60',
  'male'):                    antecedents  \
 0               ( Nap x Warin)
 1            ( Phantae Coffee)
 2                 ( REDCOFFEE)
 3               ( ROOF COFFEE)
 4                ( Saereesook)
 ..                         ...
 731             ( Nap x Warin)
 732              ( Saereesook)
 733  (NAP's Coffee & Roasters)
 734                ( SongSarn)
 735                  ( sangob)

                                            consequents  antecedent support  \
 0                                            ( Amarna)                 0.5
 1                                            ( Amarna)                 0.5
 2                                            ( Amarna)                 0.5
 3                                            ( Amarna)                 0.5
 4                                            ( Amarna)                 0.5
 ..                                                 ...                 ...
 731  ( Saereesook, NAP's Coffee & Roasters,  SongSa...                 0.5
 732  ( Nap x Warin, NAP's Coffee & Roasters,  SongS...                 0.5
 733  ( Nap x Warin,  Saereesook,  SongSarn,  Amarna...                 0.5
 734  ( Nap x Warin,  Saereesook, NAP's Coffee & Roa...                 0.5
 735  ( Nap x Warin,  Saereesook, NAP's Coffee & Roa...                 0.5

      consequent support  support  confidence  lift  leverage  conviction
 0                   1.0      0.5         1.0   1.0      0.00         inf
 1                   1.0      0.5         1.0   1.0      0.00         inf
 2                   1.0      0.5         1.0   1.0      0.00         inf
 3                   1.0      0.5         1.0   1.0      0.00         inf
 4                   1.0      0.5         1.0   1.0      0.00         inf
 ..                  ...      ...         ...   ...       ...         ...
 731                 0.5      0.5         1.0   2.0      0.25         inf
 732                 0.5      0.5         1.0   2.0      0.25         inf
 733                 0.5      0.5         1.0   2.0      0.25         inf
 734                 0.5      0.5         1.0   2.0      0.25         inf
 735                 0.5      0.5         1.0   2.0      0.25         inf

 [736 rows x 9 columns]}

In [367]:
with open('age_gender_rules1.pkl', 'rb') as f:
    age_gender_rules = pickle.load(f)

In [461]:
def recommend(user_age_group, user_gender):
    recommended_items = set()
    rules = age_gender_rules[(user_age_group, user_gender)].sort_values(by='confidence', ascending=False)
    for index, row in rules.head(15).iterrows():
        recommended_items.add(row["consequents"])
    recommended_items = list(recommended_items)
    recommended_items = [list(item) for item in recommended_items]
    return recommended_items

In [462]:
gender = input('Gender: ')
z = lambda x: '10-20' if x <= 20 else '21-40' if x <= 40 else '41-60' if x <= 60 else '60+'
age = z(int(input('Age: ')))
x = recommend(age, gender)

Gender:  male
Age:  20

In [463]:
re = set()
for a in x:
    da = set([ss.strip() for ss in a])
    re.update(da)

In [464]:
print(re)

{'Attaroast', 'BalconyKiss Coffee', 'GODFATHER COFFEE', 'sangob', 'Rogue Roasters', 'Saereesook', 'BaanHuakham Cafe & Farmstay', 'Yuanjai Cafe', 'Tree Cafe Rim Moon', 'Bossa cafe', 'Nap x Warin'}

In [465]:
list(re)

['Attaroast',
 'BalconyKiss Coffee',
 'GODFATHER COFFEE',
 'sangob',
 'Rogue Roasters',
 'Saereesook',
 'BaanHuakham Cafe & Farmstay',
 'Yuanjai Cafe',
 'Tree Cafe Rim Moon',
 'Bossa cafe',
 'Nap x Warin']